* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body_1, #body_2 {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
#body_2 {
    background-color: #0d0a2b;
    margin-top: 10px;
    color: white;
}
#for_color {
    background-color: #12d7de;
    padding: 80px;
    width: 100%;
    font-size: 35px;
}
.container-div {
    text-align: center;

    color: #fff;
}
.topline {
    background-color: #0d0a2b;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.main-div {
    background-color: #0d0a2b;
    margin-left:60px;
    margin-right:60px;
    color: white;
    text-align: center;
}
#body_1 {
    background-color: #34e3d4;
    height: 1020px;
}
#header1 {
    margin-bottom: 30px;
}
#header2 {
    margin-bottom: 50px;
    
}
#first_P {
    margin: 50px 450px 60px  450px;
    font-size: 20px;
}
#second_P {
    margin: 70px 450px 30px  450px;
    font-size: 20px;
}
#second_header {
    margin-bottom: 50px;
}
.label_fonts {
    font-size: 20px;
}
#first_name, #last_name, #email {

    font-size: 20px;
   
}
 
.allInput {
    padding: 8px;
    width: 25%;
    margin-bottom: 10px;
}
#signUpButton {
   padding: 35px;
   background-color: #e39134;
   border: 2px solid #eff0e6;
   border-radius: 25px;

}