* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #34e3d4;
    height: 1000px;
    

}
.topline {
    background-color: #0d0a2b;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.main-div {
    background-color: #0d0a2b;
    margin-left:60px;
    margin-right:60px;
    height: 925px;
    color: white;
    text-align: center;
}
#header1 {
    margin-bottom: 30px
}
#header2 {
    margin-bottom: 50px;
}
#first_P {
    margin: 50px 450px 60px  450px;
    font-size: 20px;
}
#second_P {
    margin: 70px 450px 30px  450px;
    font-size: 20px;
}
#second_header {
    margin-bottom: 50px;
}
form p {
    font-size: 20px;
   
}
.allInput {
    padding: 10px;
    width: 25%;
    margin-bottom: 10px;
}
#signUpButton {
   padding: 35px;
   background-color: #e39134;
   border: 2px solid #eff0e6;
   border-radius: 25px;
   font-size: 20px

}