* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #34e3d4;
    

}
.topline {
    background-color: #0d0a2b;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
}
.main-div {
    background-color: #0d0a2b;
    margin-left:60px;
    margin-right:60px;
    height: 1500px;
    color: white;
    text-align: center;
}
#header1 {
    margin-bottom: 30px
}
#header2 {
    margin-bottom: 100px;
}
#first_P {
    margin: 50px 450px 70px  450px;
    font-size: 25px;
}
#second_P {
    margin: 100px 450px 30px  450px;
    font-size: 25px;
}
#second_header {
    margin-bottom: 70px;
}