* {
    padding: 0;
    box-sizing: border-box;
}
table {
    margin: auto;

}

h1 {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top:20px;
  }

  td {

    width: 150px;
    height: 300px;
    border: 6px solid white;
  }
  
#color1 {

    background-color:#227C9D;
}
#color2 {
    background-color: #17C3B2;
}
#color3 {
    background-color: #FFCB77;
}
#color4 {
    background-color: #FEF9EF;
}
#color5 {
    background-color: #FE6D73;
}